<div *ngIf="current">
  <div fxLayout="row">
    <mat-card-title fxFlex="66%" class="no-margin">{{current.city}}, {{current.country}}</mat-card-title>
    <mat-card-subtitle class="right no-margin" fxFlex>{{current.date | date:'EEEE MMM d'}}{{getOrdinal(current.date)}}</mat-card-subtitle>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="55%"><img mat-card-md-image [src]='current.image' alt="image"></div>
    <div fxFlex class="right no-margin">
      <p class="mat-body-1">{{current.temperature | number:'1.0-0'}}<span class="mat-body-2">&#8451;</span></p>
      </div>
  </div>
  <mat-card-footer fxLayoutAlign="center" class="mat-caption">
    {{current.description}}
  </mat-card-footer>
</div>
